<p id="notice"><%= notice %></p>

<h1>Tour Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tour_statuses.each do |tour_status| %>
      <tr>
        <td><%= tour_status.name %></td>
        <td><%= link_to 'Show', tour_status %></td>
        <td><%= link_to 'Edit', edit_tour_status_path(tour_status) %></td>
        <td><%= link_to 'Destroy', tour_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour Status', new_tour_status_path %>
